<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt enim est officia, beatae voluptatem doloremque accusamus.
                Sed quibusdam, dolore ea enim suscipit obcaecati dolores, praesentium explicabo veritatis illo et sapiente.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quo ab quaerat nam sed unde libero aut! Rerum maxime 
                reprehenderit deleniti animi repudiandae, iure, delectus quaerat, ratione quisquam nobis assumenda.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptate itaque, porro tenetur voluptatum a quam 
                fugit dolor laborum esse labore numquam in maxime repellendus soluta. Iusto voluptatem tempore corrupti.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aut quas, accusantium illum dignissimos soluta, temporibus 
                minus necessitatibus, quia vero beatae repellat libero omnis? Voluptate delectus tenetur ab quo molestiae.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>


