<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://cdn2.iconfinder.com/data/icons/circle-avatars-1/128/039_girl_avatar_profile_woman_headband-512.png" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Elaine Paiva</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Full Stack Java Jr. Generation Brasil</p>
      
      <a href="https://www.linkedin.com/in/elainepaiva/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/ElaineCSP" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
  </div>